/********************************************
 * FONT IMPORT
 *******************************************/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/********************************************
 * VARIABLES
 *******************************************/

:root {
  /* Colours */
  --colour-neutral-100: hsl(0, 0%, 100%);
  --colour-neutral-200: hsl(212, 45%, 89%);
  --colour-neutral-300: hsl(220, 15%, 55%);
  --colour-neutral-800: hsl(218, 44%, 22%);

  /* Typography */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-heading: 1.5rem; /* 20px */
  --font-size-copy: 0.9375rem; /* 15px */
}

/********************************************
 * RESET
 *******************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/********************************************
 * GLOBAL STYLES
 *******************************************/

html,
body {
  display: grid;
  place-content: center;
  background-color: var(--colour-neutral-200);
  color: var(--colour-neutral-300);
  font-weight: var(--font-size-copy);
  font-size: var(--font-size-copy);
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  color: var(--colour-neutral-800);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading);
}

p {
  margin-top: 1.25rem;
}

/********************************************
 * QR COMPONENT
 *******************************************/

.qr-component {
  max-width: 21.125rem;
  padding: 1.125rem;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: var(--colour-neutral-100);
}

.qr-component img {
  border-radius: 20px;
}
